ol li {

list-style: circle;
color: 
line-height: 100px;
	
}
ul li :hover {
	color: green;


}

 
.hvrbox_background {
    width: 400px;
    height: 250px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;